$spinner-color: #222;
$spinner-size: 100px;
$spinner-thickness: 8px;
$spinner-speed: 1.5s;

$bigger-spinner-size: $spinner-size * 2.5;
$bigger-spinner-thickness: $spinner-thickness * 2;


// Spinner
.cozy-loader-spinner {
  position: absolute;
  height: $spinner-size;
  width: $spinner-size;
  top: 50%;
  left: 50%;
  margin: (-( ( $spinner-size ) / 2 )) 0 0 (-( ( $spinner-size ) / 2 ));
}

.cozy-module-book-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cozy-module-book-loading > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.cozy-module-book-loading .cozy-loader-spinner {
  height: $bigger-spinner-size;
  width: $bigger-spinner-size;
}

// Spinner quarters
.cozy-loader-spinner .spinner-quarter {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: inherit;
  width: inherit;
  border: $spinner-thickness solid transparent;
  animation: cozy-loader-blink $spinner-speed infinite ease-out;
  border-radius: 50%;
}

.cozy-module-book-loading .cozy-loader-spinner .spinner-quarter {
  border: $bigger-spinner-thickness solid transparent;
}

// blink animation
@keyframes cozy-loader-blink {
  0% { border-top-color: $spinner-color; }
  33% { border-top-color: rgba($spinner-color, .33); }
  100% { border-top-color: rgba($spinner-color, 0); }
}

// Individual spinner quarters (See compiled if needed)
.cozy-loader-spinner {
  @for $i from 0 through 3 {
    .spinner-quarter--#{$i + 1} {
      transform: rotate($i * 90deg);
      animation-delay: $spinner-speed * $i / 4;
    }
  }  
}
