// tweaks if the panel is added to the book
.cozy-module-book .cozy-panel-navigator {
  position: absolute;
  bottom: 0.75em;
  left: 0;
  // left: 50%;
  // width: 90%;
  // margin-left: -45%;
  text-align: center;
  display: block;
  z-index: 10;

  opacity: 0.2;

  &:hover {
    opacity: 1.0;
  }
}

.cozy-container .cozy-panel-navigator {

  width: 100%;
  margin: 0 auto;

  .cozy-control-navigator {

    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;

    &.initialized {
      opacity: 1.0;
    }

    .cozy-navigator-range__status {
      width: 100%;
      text-align: center;
    }

    .cozy-navigator-range {

      width: 90%;
      height: 1.5em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      input[type=range] {
        -webkit-appearance: none;
        font-size: 1em;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        left: 0;
        top: 0;
        position: absolute;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
      }

      .cozy-navigator-range__background {
        width: 100%;
        pointer-events: none;
        height: 0.5em;
        // background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF 50%, transparent 50%), linear-gradient(90deg, #ff3c5d, #ff817a);
        background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF 50%, transparent 50%), linear-gradient(90deg, #2497e3, #a2d3f5);
        background-size: 200% 100%, 100% 100%;
        background-repeat: no-repeat, no-repeat;
        background-position: 100% 0%, left top;
      }

      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #666;
        height: 24px;
        width: 24px;
        border-radius: 25px;
        // background: #A1D0FF;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.4);
        // margin-top: -7px;
      }

      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #2497E3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #A1D0FF;
        cursor: pointer;
      }

      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #000000;
        border: 1px solid #2497E3;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #A1D0FF;
        cursor: pointer;
      }

    }

  }


}
